@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary-light-blue: #61759e;
    --primary-dark-blue: #404f6c;
    --primary-white: #f4f6f9;
    --accent-dark: #182443;
    --accent-num: #506285;
    --accent-transition: #495979;
    --accent-gray: #b0b4be;
    --font-family: 'Bebas Neue', cursive;
}

/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    min-height: 100vh;    
    background-color: var(--primary-light-blue);
}

h2, h3 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    color: var(--primary-dark-blue);
}

p {
    font-size: 1rem;
    color: var(--primary-dark-blue);
}

a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--primary-white);
}

li {
    list-style-type: none;
}

/*Utility*/

.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

.divider-light {
    background-color: var(--primary-light-blue);
}

.divider-dark {
    background-color: #404f6c;
}

.section-number {
    color: var(--accent-num);
    font-size: 3rem;
}

.section__title--number {
    display: flex;
    flex-direction: row;
}

.section__text-container {
    margin-left: 15rem;
    padding-top: 3rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
}



/* HERO SECTION */

/* .hero__nav {
    position: sticky;
    top: 0;
    background-color: transparent;
    
}

.hero__icon {
    margin-left: 200px;
    padding-top: 20px;    
} */

/* Navigation */
/*YouTube: Kevin Powell - https://www.youtube.com/watch?v=HbBMp6yUXO0&t=687s   at 14:55*/

.hero__nav{
    align-items: center;
    justify-content: space-between;    
}

.primary-nav {
    padding: 0;
    margin: 0;
}
.primary-nav a {
    margin-inline-end: 0.75em;
}

.icon {
    margin: 2rem;
    position: fixed;
}

.primary-nav__item--num {
    color: var(--primary-white);
    font-family: var(--font-family);
}

.primary-nav__item--text {
    font-style: italic;  
}

@media (max-width: 35em){
    .primary-nav {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(20vh, 5rem) 2em;
        background-color: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.3rem);
    }
}

/* ^^ End Navigation */


/* Hero Background */
.hero__background {
    content: "";
    background-image: url(assets/img/hero-texture-layer.png), url(assets/img/hero-bkgrnd.jpg);   
    position: relative;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;   
}

.hero__title__img--container{
    content: "";
    position: relative;
    background-image: url(assets/img/hero-title-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;       
    transform: translateX(-75px);
    margin: 0 auto;   
    width: 75%;
    height: 10rem;
}

.hero__title__img--image {
    width: 100%;
}

.hero__shadow-layer {
    background-image: url(assets/img/hero-shadow-layer.png);
    background-size: cover;    
    background-repeat: no-repeat;        
    height: 10rem; 
}

/* ^^ End Hero Background*/

/* ^^ END HERO SECTION ^^ */
.divider--first {    
    height: 60px;
}

.logo {
    margin: 0.5rem 0;
}

.divider__logo {
    margin-left: 25%;
}

/* HISTORY SECTION */

.history-section__background {
    content: "";
    position: relative;
    background-image: url(assets/img/middle-section-bkgrnd-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  center;
    max-width: 100%;
    width: 100vw;
    min-height: 100%;
    max-height: 800px;    
}

.history-section__text {
    width: 45rem;
    margin: 0 auto;
    line-height: 1.5;
}

.num-dot {
    margin-left: -3.5rem;
}

/*Image Carousel*/
.carousel__background {
    background-image: url(assets/img/carousel-bkgrnd.png);
    position: relative;
    background-size: cover;    
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;  
}

.carousel {
    position: relative;
    height: 200px;
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
  }

  .carousel__img {
    width: 100%;
    height:100%;
    object-fit: contain;
  }

  .carousel__track-container {    
    padding: 10px;
    width: 100%; 
    height: 100%;    
    position: relative;
    overflow: hidden;
  }

  .carousel__track {    
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
  }

  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .carousel__button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .carousel__button--previous {
    left: -45px;
  }

  .carousel__button--next {
    right: -45px;
  }

  .carousel__nav {   
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  .carousel__nav--indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 15px;
    cursor: pointer;
  }

  .carousel__nav--indicator.current-slide {
    background-color: rgba(0, 0, 0.75);
  }

  .hide {
    display: none;
  }



/* ^^ END HISTORY SECTION */

/* CLIMB SECTION */
.climb-section__text {
    width: 45rem;
    margin: 0 auto;
    line-height: 1.5;
}

.num-dot__two {
    margin-left: -2.5rem;
}
/* ^^ END CLIMB SECTION */

/*MOUNTAIN SECTION*/

.mtn-btns{
    margin-left: 200px;
}

.mountain-btn {
    border: none;
    background-color: transparent;
    color: var(--accent-gray);    
    cursor: pointer;
}

.mountain-btn:hover{
    background-color: var(--accent-gray);
    color: #182443;
    scale: 1.5;
}

.mountain-section__background {
    position: relative;
    max-width: 100%;    
    
  }

  picture {   
    display: block;
    max-width: 100%;
    background-size: contain;
}
.mtn-img {
    max-width: 100%;
}

  .mountain-section__schedule-container {
    display: flex;
    flex-direction: column;
    line-height: 2;
    position: absolute;
    background-color: var(--primary-white);
    width: 355px;
    height: 230px;    
    align-items: center;
    justify-content: center;
    top: 5rem;
    left: 12rem;
    z-index: 1;
  }
  
  .mountain-section__images {
    position: relative;
  }

  .hidden {
    display: none;
  }

  

/* ^^ END MOUNTAIN SECTION*/

/* FOOTER */

.divider-footer {
    display: flex;    
    height: 60px;
}

.divider__logo--footer {
    margin-left: 200px;
}