@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary-light-blue: #61759e;
    --primary-dark-blue: #404f6c;
    --primary-white: #f4f6f9;
    --accent-dark: #182443;
    --accent-num: #506285;
    --accent-transition: #495979;
    --accent-gray: #b0b4be;
    --font-family-headers: 'Bebas Neue', cursive;
}

/*Resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    min-height: 100vh;
}

h2, h3 {
    font-family: var(--font-family-headers);
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-family: var(--font-family-headers);
}

li {
    list-style-type: none;
}

/*Utility*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.divider-light {
    background-color: var(--primary-light-blue);
}

.divider-dark {
    background-color: #404f6c;
}

.section-number {
    color: var(--accent-num);
}

/* HERO SECTION */
/* Navigation */
.primary-nav {
    font-family: var(--font-family-headers);
    color: var(--primary-white);
}

.primary-nav__item--text {
    font-style: italic;    
}
/* ^^ End Navigation */


/* Hero Background */
.hero__background {
    background-image: url(assets/img/hero-texture-layer.png), url(assets/img/hero-bkgrnd.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    /* height: 100%; */
}

.hero__title__img{
    background-image: url(assets/img/hero-title-img.png);
    /* background-size: fill; */
    
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
    height: 205px;    
}

.hero__shadow-layer {
    background-image: url(assets/img/hero-shadow-layer.png);
    background-size: cover;    
    background-repeat: no-repeat;    
    height: 10em; 
}

/* ^^ End Hero Background*/

/* ^^ END HERO SECTION ^^ */
.divider--first {
    /* background-color: var(--primary-light-blue); */
    height: 60px;
}

.logo {
    margin: 0.5rem 0;
}

/* HISTORY SECTION */

.history-section__background {
    background-image: url(assets/img/middle-section-bkgrnd-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 800px;
}

/*Image Carousel*/
.carousel__background {
    background-image: url(assets/img/carousel-bkgrnd.png);
    background-size: cover;    
    background-repeat: no-repeat;
    width: 100%;  
}

/* ^^ END HISTORY SECTION */

/* CLIMB SECTION */

/* ^^ END CLIMB SECTION */

/*MOUNTAIN SECTION*/
.mountain-btn {
    border: none;
    background-color: transparent;
    color: var(--accent-gray);
    cursor: pointer;
}

.mountain-btn:hover{
    background-color: var(--accent-gray);
    color: #182443;
    scale: 1.5;
}

.mountain-section__schedule--container {
    width: 12rem;
    background-color: #F4F6F9;
}

/* ^^ END MOUNTAIN SECTION*/

/* FOOTER */

.divider-footer {
    display: flex;    
    height: 60px;
}